{% extends "base.html" %}
{% block content %}
<form method="post" action="{{ url_for('cadastro_alunos') }}" enctype="multipart/form-data">
   <label>Nome:<br />
        <input type="text" name="Nomes" id="nomes" />
   </label>
   <br />
   <label>Idade:<br />
        <input type="text" name="Idade" id="idade" />
   </label>
   <br />
   <label>Sala:<br />
        <input type="text" name="Sala" id="sala" />
   </label>
   <br />
   <label> Imagem:<br />
      <input type="file" name="imagem" id="imagem" />
   </label>
   <input type="submit" value="Postar" />
</form>
{% endblock %}