{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
  <div class="col-md-6">
    <form method="post" action="{{ url_for('cadastro_alunos') }}" enctype="multipart/form-data">
      <div class="form-group">
         <label>Nome:</label>
          <input type="text" name="nome" class="form-control" id="nomes" />   
      </div>
      <div class="form-group">
         <label>Idade:</label>
          <input type="text" name="idade" class="form-control" id="idade" />
      </div>
          <div class="form-group">
         <label>Sala:</label>
          <input type="text" name="sala" class="form-control" id="sala" />
      </div>
     <br />
      <div class="form-group">
      <label> Imagem:</label>
      <input type="file" name="imagem"  id="imagem" />
      <br />
      <input type="submit" class="btn btn-default" value="Cadastrar">
    </div>
  </form>
  </div>
  </div>
</div>

{% endblock %}